<!DOCTYPE html>
<html>
<head>
<title>Signature Server</title>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Css/basic.css'/>
<script src='__PUBLIC__/Js/basic.js'>
	
</script>

</head>
<center>
	<body>
		<h1>Account Login</h1>
		<div>
			<h1>hellow {$data}</h1>
			<form action='__APP__/Home/Start/start' method='post' name="myform">
				<table>
					<tr>
						<td>User name&nbsp:</td>
						<td><input type="text" name="username" /></td>
					</tr>
					<tr>
						<td>Pass word :</td>
						<td><input type="password" name="password" /></td>
					</tr>
					<tr>
						<td>Verification code:</td>
						<td><input type='text' name='code'/>
						    <img  src='__URL__/Verify' onclick="this.src=this.src+'?'
						    		+Math.random()"/>
						</td>
					</tr>
				</table>
				<img src='__PUBLIC__/Img/login.gif' onclick='sub()' />
			</form>
		</div>
	</body>
</center>
</html>
